<!doctype html>
<html>
    <head>
        <title>GoFish</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/mycss.css">
    </head>

    <body>
        <div id="navbar">
            <div class="row">
                <div class="col-md-6">
                    <h2 id="title">GO FISH</h2>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary  pull-right" href='/auth/facebook'>Login</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Please login!</h2>
                </div>
            </div>
        </div>
    </body>
</html>
