<!doctype html>
<html ng-app="GoFish">
    <head>
        <title>GoFish</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/mycss.css">
    </head>

    <body ng-controller="Controller as c" ng-cloak>
        <div id="navbar">
            <div class="row">
                <div class="col-md-6">
                    <h2 id="title">GO FISH</h2>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger pull-right" id="logout" href='/logout'>Logout</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="prof-pic pull-left" style="background-image: url('{{ c.currentUser.picture_url }}');"></div>
                            <div class="current-user-info pull-right">
                                <h3>{{ c.currentUser.name }}</h3>
                                <div>
                                    {{ c.currentUser.gender | cap }} - {{ c.currentUser.age }}
                                </div>
                                <div>
                                    {{ c.currentUser.city | cap }}, {{ c.currentUser.region | cap }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-container">
                            <textarea id="bio" class="form-control" rows="3" ng-model="c.currentUser.description" placeholder="Tell everyone about yourself!"></textarea>
                            <br>
                            <a type="button" class="btn btn-default pull-center" ng-click="c.updateCurrentUser(c.currentUser)">Update</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="current-fish-info pull-left">
                                <h3>{{ c.currentFish.name }}</h3>
                                <div>
                                    {{ c.currentFish.gender | cap }} - {{ c.currentFish.age }}
                                </div>
                                <div>
                                    {{ c.currentFish.city | cap }}, {{ c.currentFish.region | cap }}
                                </div>
                            </div>
                            <div class="prof-pic pull-right" style="background-image: url('{{ c.currentFish.picture_url }}');"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-container">
                            <textarea id="bio" class="form-control" rows="3" ng-model="c.currentFish.description" disabled></textarea>
                            <br>
                            <a class="btn btn-warning" ng-click="c.throwBack(c.currentFish)">Throw em' back!</a>
                            <a class="btn btn-success" ng-click="c.reelIn(c.currentFish)">Reel em' in!</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>Matches</h3>
                    <table class="table">
                        <thead>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Location</th>
                            <th class="small-col"></th>
                            <th class="small-col"></th>
                        </thead>
                        <tr ng-repeat="match in c.myMatches">
                            <td><b>{{ match.matched_user.name }}</b></td>
                            <td>{{ match.matched_user.gender | cap }}</td>
                            <td>{{ match.matched_user.age }}</td>
                            <td>{{  match.matched_user.city | cap }}, {{  match.matched_user.region | cap }}</td>
                            <td class="small-col"><a class="btn btn-xs btn-info" ng-click="">Chat Now</a></td>
                            <td class="small-col"><a class="btn btn-xs btn-danger" ng-click="">Unmatch</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="all-chat-container" style="top: {{ minimize ? 'calc((100% - 402px) + (360px));' : 'calc(100% - 402px);' }} height: {{ minimize ? '40px;' : 'auto;' }}">
                <div class="one-chat-container" style="height: {{ minimize ? '40px;' : '400px;' }}">
                    <div class="chat-top-bar">
                        <div class="pull-left">
                            <b>Chat with person</b>
                        </div>
                        <a class="btn btn-xs btn-default pull-right" ng-init="minimize = false" ng-click="minimize ? minimize = false : minimize = true">&nbsp;-&nbsp;</a>
                    </div>
                    <div class="chat-feed" ng-hide="minimize">
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                        fdsafdsa<br>
                    </div>
                    <div class="chat-input" ng-hide="minimize">
                        <textarea class="form-control" placeholder="Type message here!"></textarea>
                    </div>
                    <div class="chat-button" ng-hide="minimize">
                        <a class="btn btn-primary">Send</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
        <script type="text/javascript" src="js/myjs.js"></script>
    </body>
</html>
